<%- include("../../partials/header.ejs") %> 
<%- include("../../partials/navbar.ejs") %> 

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>


<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Editar Artigos</h2>
        </div>
    <div class="card-body">
   
    <form method="POST" action="/articles/uptade">
        <input name="id" type="hidden" value="<%= article.id  %> ">
        <input class="form-control "type="text" name="title" id="" placeholder="<%= article.title %>"><br>
        <textarea  class="form-control " name="body"  cols="30" rows="10" id="ar" placeholder="Escreva seu artigo@"></textarea>
        <label for="categorias">Categorias</label>
        <select name="category" class="form-control" id="">
            <% categories.forEach((category)=>{%>
                <% if(category.id == article.categoryId){%>
                    <option selected value="<%= category.id %> "><%= category.title %></option>
               <% }else{ %>
                    <option value="<%= category.id %> "><%= category.title %></option>
               <% } %>  
                

            <% }) %> 
        </select>
        <br>
        <button class="btn btn-success">Atualizar</button>
    </form>
</div>
</div>
</div>
<div style="display: none;" id="content">
    <%= article.body %> 
</div>
<script type="text/javascript">
let conteudo = document.getElementById('content')
    tinymce.init({
      language:'pt_BR', 
      selector: '#ar',
      plugins:[
          'advlist autolink link image lists print preview hr searchreplace wordcount fullscrenn emoticons'
      ],
      init_instance_callback:()=>{
        tinymce.get("ar").setContent(conteudo.textContent)
      }
    });
    </script>

<%- include("../../partials/footer.ejs") %> 
