
<%- include("../../partials/header.ejs") %> 
<%- include("../../partials/homenavbar.ejs") %> 
<body>
    <h1>Pagina inicial</h1>
    <hr>
    <div class="container ">
        <% result.articles.rows.forEach((article)=>{ %>
            <div class="card mb-4">
                <div class="card-header">
                    <%= article.title %> 
                </div>
                <div class="card-body">
                
                </div>
                <div class="card-footer"><a href="/<%= article.slug %> " class="btn btn-success">ler artigo</a></div>
            </div>
            
            
       <% }) %> 
       <% if(result.page > 1){ %> <a href="/articles/page/<%= result.page -1 %>">  << Prev </a> <% } %> 
       <div style="float:right" class="row">
              <% if(result.next) { %> 
               <a href="/articles/page/<%= result.page+1 %> ">Next>></a>
           <% } %> 
               
               
           
           <br>
       </div>
       
    </div>
    <br>
    </div>


</body>
<%- include("../../partials/footer.ejs") %>
