<%- include("../../partials/header.ejs") %> 
<%- include("../../partials/navbar.ejs") %> 
 <div class="container">
     <hr>
     <h2>Categorias</h2>
     <hr>
     <a href=" categories/new"><button class="btn btn-success">Criar categoria</button></a>
    <hr>
     <table class="table table-bordered">
         <thead>
             <tr>
                 <th>id</th>
                 <th>Titulo</th>
                 <th>Slug</th>
                 <th>Açoes</th>
             </tr>
         </thead>
         <tbody>
             <% categories.forEach((categoria)=>{ %>
                <tr>
                    <th> <%= categoria.id %> </th>
                    <th>  <%=  categoria.title %> </th>
                    <th> <%= categoria.slug %> </th>
                    <th> 
                         <a style="display:inline" href="/admin/categories/edit/<%= categoria.id  %> " class=" btn btn-warning">Editar</a>
                        <form method="POST" action="/categories/delete">
                            <input type="hidden" name="id" value="<%=categoria.id%>">
                            <button style="display:inline"  class="btn btn-danger" >Deletar</button>
                        </form>
                    </th>
                </tr>
             <% }) %> 
         </tbody>
     </table>
 </div>
 <script>
     
    
    
</script> 
<%- include("../../partials/footer.ejs") %>
